html {
  color-scheme: dark !important;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: .95em;
  overflow: hidden;
  background: black;
  color: #d8d7d5;
}

canvas {
  border: none;
  margin: 0px;
  padding: 0px;
  
  &.graph {
    background-color: black;
    outline: 1px solid gray;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
  }
  &#canvas {
    image-rendering: pixelated;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &#colorbar {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 40%;
  }
}

.top-overlay {
  width: 90%;
  aspect-ratio: 2 / 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

input:not([type="radio"]) {
  margin: 1px;
  height: 16px;

  &[type="number"] {
    width: 132px;
  }

  &[type="range"] {
    width: 140px;
  }

  &[type="file"] {
    width: 140px;
    height: auto;
  }
}

label {
  margin-left: 7px;
  display: inline-block;
  width: calc(100% - 150px);
}

button, select {
  appearance: auto;
  display: inline-block;
  width: 140px;
  margin: 1px;
  padding: 2px;

  &.fullwidth {
    width: 288px;
  }
}

button:not(.fullwidth) {
  margin-right: 7px;
}

button#toggleSettings {
  width: 50px;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;
  transition-property: opacity;
  transition-duration: 500ms;

  &.inactive {
    opacity: 20%;

    &:hover {
      opacity: 100%;
    }
  }
}

span.halfWidth {
  display: inline-block;
  width: 140px;
  overflow: hidden;
  margin-right: 7px;
  vertical-align: top;

  /* margin: 2px; */
  /* border: 1px solid #d8d7d5; */
}

.warn {
  color: rgb(255, 64, 64);
}

div.right-dark {
  padding: 15px;
  position: absolute;
  right: 0px;
  /*15px*/
  top: 0px;
  width: 320px;
  height: 100%;
  overflow: scroll;
  background: rgba(50, 50, 50, .8);
}

.hidden {
  display: none;
}

h2 {
  margin-block: 1em;
}

div.control-group {
  padding: 2px;
  user-select: none;

  &>* {
    margin-top: 5px;
  }

  &>div[id$="container"]:not(.radioContainer, .control-group) {
    &:not(.canvasContainer) {
      height: 25px;
    }
    &.canvasContainer {
      width: 300px;
      /* background: #5b5b5b; */
    }
  }

  &>div.control-group {
    margin-top: 0px;
  }
}

p {
  margin: 5px;
}

b {
  cursor: default;
  display: block;
  width: 100%;

  &.canvasLabel {
    margin: 5px;
    width: auto;
  }
}

ul {
  margin: 0;
  list-style: none;
  padding: 10px;
  padding-left: 25px;
  padding-top: 0;
  column-gap: 20px;

  &>li {
    padding: 0;
    height: 25px;

    &::before {
      content: "";
      display: inline-block;
      position: relative;
      left: -10px;
      background-color: var(--legend-color, white);
      width: 10px;
      height: 10px;
      border: 1px solid white;
    }
  }
}